@import url(//fonts.googleapis.com/css2?family=Montserrat);
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
}
body {
    background-color: #F9983E;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;;
    height:470px;
}
.logo {
    color: white;
    display: inline-block;
    text-align: center;
}
.logo i {
    font-size: 16rem;
}
.logo p {
    font-size: 5rem;
    font-weight: bolder;
}
.mulai {
    text-align: center;
    margin-top: -30px;
}
.mulai a{
    text-decoration: none;
    color: white;
    background-color: #35D0BA;
    padding: 10px;
    font-size: 3rem;
    font-weight: bolder;
}
.rotasi {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
